/* 
CSS Document 
Wink Hosting (www.winkhosting.com)
Designed By Alexis Corredor
alexis.corredor@gmail.com
*/
body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#page {
    margin-right: auto;
    margin-left: auto;
    width: 800px; /* Header image is this size */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    text-align: left;
}

/*HEADER*/
#header{
    width: 800px;
    position: relative; 
    height: 162px;
    background-image: url(../images/aqua/header.jpg);
    background-repeat: no-repeat;
}
/*COMPANY NAME IN HEADER*/
#companyname {
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 40px;
    left: 0px;
    top: 0px;
}
/*MENU IN HEADER*/
#menu {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#menu ul { list-style: none; display: inline; }
#menu ul li {
    display: inline;
    margin: 0px 5px;
}

#menu a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

/*LEFT PANEL (News, Links, etc.)*/
#panel {
    float: left;
    width: 200px;
}

/*CONTENT*/
#content{
    width: 800px;
}
#contenttext{
    float: right;
    text-align: justify;
    width: 560px;
    margin-right: 20px;
}

/*FOOTER*/
#footer {
    width: 779px;
    height: 32px;
    text-align: center;
    margin: auto;
    background-image: url(../images/aqua/bg_footer.gif);
    background-repeat: no-repeat;
    clear: both;
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-size: 0.6em;
    font-weight: bold;
    /* color: #FFFFFF; */
}
#footer p,
#footer div {
    margin: 0;
    /* height: 15px; */
    padding-top: 1px;
}
#footer .under-footer-text {
    color: #000000;
}
#footer img {
    vertical-align: middle;
}
/*FOOTER LINKS*/
#footer a {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 10px;                                    */
    font-weight: bold;
    /* color: #FFFFFF; */
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

/*TABLE*/
/*
 * [> Not needed <]
 * .panel_box{
 *     width: 204px;
 * }
 */
#panel {
    width: 204px;
}
#panel .panel_box {
    border: none;
    margin: 0;
    padding: 0;
}
.box_top, #panel .box_top {
    /* width: 100%; */
    height: 27px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../images/aqua/table_top.jpg);
    background-repeat: no-repeat;
    border: none;
}
.box_text, #panel .box_text {
    /* width: 100%; */
    margin: 0;
    padding: 0 15px;
    text-align: justify;
    border: none;
    background-image: url(../images/aqua/table_content.jpg);
    background-repeat: repeat-y;
}
.box_bottom, #panel .box_bottom {
    width: 100%;
    height: 23px;
    margin: 0 0 10px 0;
    background-image: url(../images/aqua/table_bottom.jpg);
    background-repeat: no-repeat;
    border: none;
}
#panel .collapsed {
    background-image: url(../images/aqua/table_collapsed.jpg);
}

/*TEXT STYLES*/
.news_date {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 10px;                                    */
    font-weight: bold;
    color: #0099CC;
}
.news_date a,
.news_date a:visited,
.news_date a:hover {
    text-decoration: none;
    color: inherit;
}
.body_text {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 11px;                                    */
}
.news_more a,
.news_more {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-size: 0.9em;
    color: #FF9900;
    font-weight: bold;
}
.news_text {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-size: 0.8em;
}

.subtitle_gray {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 14px;                                    */
    font-weight: bold;
    color: #CCCCCC;
}
.title_blue {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 26px;                                    */
    font-weight: bold;
    color: #7DA5E0;
}
.title_panel {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    /* font-size: 12px;                                    */
    font-weight: bold;
}
.clear { clear: both; }
