@mixin custom-link() {
  position: absolute;
  display:  block;
  top:      0;
  opacity:  0;
  @include transition(all 0.2s);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p a {
  display:  inline-block;
  position: relative;

  &:hover::before {
    left: -4px;
    opacity: 1;
  }

  &:hover::after {
    right: -4px;
    opacity: 1;
  }

  &::before {
    @include custom-link();
    left:    4px;
    content: "[";
  }

  &::after {
    @include custom-link();
    right:   4px;
    content: "]";
  }
}
