---
layout: default
subpageTitle: Home
---
{{ site.topicTitlePre }} Recent Activity {{ site.topicTitlePost }}
{% for post in site.posts limit:5 %}
    {{ site.topicSubtitlePre }} {{ post.title }} - {{ post.date | date_to_string }} {{ site.topicSubtitlePost }}
    {% capture blob %}{{ post.content | strip_html | strip_newlines | truncate: 450 }}{% endcapture %}
    <p class="blob">{{ blob }}</p>
    <p>
    {% if site.disqusComments %}
        <a class="comment" href="{{ post.url }}#disqus_thread">comment</a>
        {% if blob.size >= 450 %} : {% endif %}
    {% endif %}
    {% if blob.size >= 450 %}<a class="more" href="{{ post.url }}">Read More &raquo;</a>{% endif %}
    </p>
    <!-- <p align="right">&raquo; <a href="#">back to top</a></p> -->
{% endfor %}
