---
layout: default
title: TriTarget.org Development
subtitle: Home
---
{{ site.topicTitlePre }} Recent Activity {{ site.topicTitlePost }}
{% for post in site.posts limit:10 %}
    {{ site.topicSubtitlePre }} {{ post.title }} - {{ post.date | date_to_string }} {{ site.topicSubtitlePost }}
    {{ post.content | truncate: 450 }}
    <p><a class="comment" href="{{ post.url }}#disqus_thread">comment</a>
    {% if post.content.size > 450 %}
    : <a class="more" href="{{ post.url }}">Read More &raquo;</a>
    {% endif %}
    </p>
    <p align="right">&raquo; <a href="#">back to top</a></p>
{% endfor %}
