<div class="blog-post">
  {{> post_header}}

  {{#if less}}

    {{{ less }}}

    <div>
      <a class="btn btn-lg btn-info" href="/{{ path }}">Read More…</a>
    </div>

  {{else}}

    {{{ contents }}}

  {{/if}}

</div>
