<div class="blog-post">

  <hr class="section-split">

  {{> post_header}}

  {{#if less}}

{{{ less }}}

  <div class="pager">
    <li><a class="normal" href="/{{ path }}">More…</a></li>
  </div>

  {{else}}

{{{ contents }}}

  {{/if}}

</div>
