<h3>Elsewhere</h3>
<ol class="contact-data list-unstyled" data-items="github,twitter,googleplus">
  <li><i class="fa fa-user"></i> <a href="/devin/">About Me</a></li>
  <!-- more items appended by lib/contactinfo.coffee -->
</ol>
