
  </div>

  {{> sidebar}}

</div><!-- /.container -->

<div class="blog-footer">
  <p><a href="/humans.txt"><img src="/images/humanstxt.png" alt="humans.txt"></a></p>
  <p><a href="#">Back to top</a></p>
</div>

<script src="/js/index.js"></script>

</body>
</html>
