<h2 class="blog-post-title"><a class="normal" href="/{{ path }}"><i class="fa fa-link title-icon"></i> {{ title }}</a></h2>

{{#if tags}}
<p class="pull-right blog-post-meta">
  {{tagListLinks tags "/categories/" " "}}
<p>
{{/if}}

<p class="blog-post-meta">
  {{> post_metadata}}
</p>
