<div class="col-sm-3 col-sm-offset-1 blog-sidebar hidden-print">
  <section class="sidebar-module sidebar-module-inset">
    {{> about}}
  </section>
  <section class="sidebar-module">
    {{> contact_sidebar}}
  </section>
  <section class="sidebar-module">
    {{> recent}}
  </section>
</div><!-- /.blog-sidebar -->
