{{> header}}

<div class="page-header">
  <h1>Posts about {{ tag }}</h1>
</div>

<div class="list-group">
{{#each posts}}
  <a href="/{{ path }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ title }}</h4>
    <p class="list-group-item-text">
    {{> post_metadata}}
    {{#each categories}}#{{ this }}{{/each}}
    </p>
  </a>
{{/each}}
</div>

{{> footer}}
