{{> header}}

<div id="site-quote" class="quote">
  Be a yardstick of quality. Some people aren't used to an environment where excellence is expected.
  <div class="cite">~ Steve Jobs</div>
</div>

{{#each-limit blog 10}}
{{> blog_item}}
{{/each-limit}}

<div class="panel panel-default text-center">
  <div class="panel-body">
    <a class="btn btn-info btn-block normal" href="/archives"><i class="fa fa-newspaper-o"></i> Archives</a>
  </div>
</div>

{{> footer}}
