{{> header}}

<div class="print-page hidden-print pull-right clearfix">
  <button class="btn btn-info print"><i class="fa fa-print"></i> Print</button>
</div>

<div id="resume">
{{{ contents }}}
</div>

{{> footer}}
