<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TriTarget.org Development{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- <meta name="description" content="" /> -->
<meta name="viewport" content="initial-scale=1.0" />

<!-- Desktop Browsers Only -->
<link href="/css/aqua.css" rel="stylesheet" type="text/css" media="screen and (min-device-width: 481px)" />
<!--[if IE]>
<link href="/css/aqua.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->

<!-- iPhone Browser Only -->
<!-- <link href="/css/handheld.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" /> -->
<!-- <link href="/css/handheld.css" rel="stylesheet" type="text/css" media="handheld" /> -->

<!-- Global Styles -->
<link href="/css/syntax.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/site.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Load jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>

{% if site.enableScreenSaver %}
<script language="javascript" type="text/javascript" src="http://www.onlineleaf.com/savetheenvironment.js"> </script>
{% endif %}

{% if site.enableDisqusComments %}
<script language="javascript">
    var disqus_developer = {% if site.debug %}1{% else %}0{% endif %};
</script>
{% endif %}

{% if site.enableGoogleSearch %}
<!-- Google API -->
<script src="http://www.google.com/jsapi?key=ABQIAAAAqE6xAHX7wy0-s7qeRu49YxTgYSfghEm3OBKNO_2I0le4aTTIchRtUkDNZB6DhL23OdwaRr-MgcZ11A" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
//<![CDATA[
// Load Google Searching
google.load("search", "1");

function OnLoad() {
    // Create a search control
    var searchControl = new google.search.SearchControl();
    var drawOptions = new google.search.DrawOptions();

    // Settings
    drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);

    // Add in a full set of searchers
    //var localSearch = new google.search.LocalSearch();
    //searchControl.addSearcher(localSearch);
    var siteSearch = new google.search.WebSearch();
    siteSearch.setUserDefinedLabel("Site Search");
    siteSearch.setUserDefinedClassSuffix("siteSearch");
    siteSearch.setSiteRestriction("{{ site.googleSiteSearch }}");
    searchControl.addSearcher(siteSearch);
    searchControl.addSearcher(new google.search.WebSearch());
    searchControl.addSearcher(new google.search.VideoSearch());
    searchControl.addSearcher(new google.search.BlogSearch());

    // Set the Local Search center point
    //localSearch.setCenterPoint("New York, NY");

    // Tell the searcher to draw itself and tell it where to attach
    searchControl.draw(document.getElementById("searchcontrol"), drawOptions);

    // Execute an inital search
    //searchControl.execute("Google");
}

google.setOnLoadCallback(OnLoad);
//]]>
</script>
{% endif %}

<!-- Custom Scripts -->
<script language="javascript" type="text/javascript" src="/js/site.js"> </script>
<script language="Javascript" type="text/javascript">
    $(document).ready(function() {
        site.initCollapsibleDivs();
        site.collapseDivs();
        site.initDialogBoxes();

        {% if site.enableSki %}
        site.initKonamiCode();
        {% endif %}
    });
</script>

</head>
<body>
    <div id="forkme">
        <a href="http://github.com/sukima"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    </div>
    <!--
    <div id="forkme-text">
        * <a href="http://github.com/sukima">Fork me on GitHub</a> *
    </div>
    -->
<div id="page">
  <div id="header">
    <div id="companyname">TriTarget.org Development</div>
    <div id="menu">
      <ul>
        <li><a href="/index.html" title="Home"><span>home</span></a></li>
        <li><a href="/about.html" title="About">about</a></li>
        <li><a href="/projects.html" title="Projects">projects</a></li>
        <li><a href="/archives.html" title="Archives">archives</a></li>
        <li><a href="#searchcontrol" title="Search">search</a></li>
      </ul>
    </div>
  </div>
  <div id="content">
    <div id="contenttext">
      {{ content }}
      {% if site.enableGoogleSearch %}<p id="searchcontainer"><div id="searchcontrol">Loading...</div></p>{% endif %}
    </div>

    <div id="panel">
      {% if site.enableTwitter %}
      <div class="panel_box">
        <div class="box_top">twitter</div>
        <div id="twitter" class="box_text">
          {% include twitter.html %}
        </div>
        <div class="box_bottom"></div>
      </div>
      {% endif %}

      <div class="panel_box">
        <div class="box_top collapsed">links</div>
        <div class="box_text links">
          {% include links.html %}
        </div>
        <div class="box_bottom"></div>
      </div>
    </div>

  </div>
  <!-- end content -->
</div>
<!-- end wrap -->
<div id="footer">
  <p><a href="http://www.dreamhost.com/green.cgi?tritarget.org"><img border="0" alt="Green Web Hosting! This site hosted by DreamHost." src="https://secure.newdream.net/green3.gif" height="15" width="80" valign="middle" /></a> : Copyright &copy; 2010 Devin Weaver : Design by <a class="email" href="mailto:jsepulveda@gmail.com">Justin Sepulveda</a></p>
</div>

{% if site.enableDisqusComments %}
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/devtritargetorg/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endif %}

<div id="dialog-boxes">  
    <!-- #customize your modal window here -->  
    {% if site.enableSki %}
    <div id="game" class="window"></div>  
    {% endif %}
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->    
    <div id="mask"></div>  
</div>  

</body>
</html>
