<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TriTarget.org Development{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- <meta name="description" content="" /> -->
<meta name="viewport" content="initial-scale=1.0" />

<!-- Desktop Browsers Only -->
<link href="/css/aqua.css" rel="stylesheet" type="text/css" media="screen and (min-device-width: 481px)" />
<!--[if IE]>
<link href="/css/aqua.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->

<!-- iPhone Browser Only -->
<!-- <link href="/css/handheld.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" /> -->
<!-- <link href="/css/handheld.css" rel="stylesheet" type="text/css" media="handheld" /> -->

<!-- Global Styles -->
<link href="/css/syntax.css" rel="stylesheet" type="text/css" media="screen" />

{% if site.enableScreenSaver %}
<script language="javascript" type="text/javascript" src="http://www.onlineleaf.com/savetheenvironment.js"> </script>
{% endif %}

{% if site.enableDisqusComments %}
<script language="javascript">
    var disqus_developer = {% if site.debug %}1{% else %}0{% endif %};
</script>
{% endif %}

{% if site.enableGoogleSearch %}
<!-- Google API -->
<script src="http://www.google.com/jsapi?key=ABQIAAAAqE6xAHX7wy0-s7qeRu49YxTgYSfghEm3OBKNO_2I0le4aTTIchRtUkDNZB6DhL23OdwaRr-MgcZ11A" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
//<![CDATA[
// Load JQuery
google.load("jquery", "1");

// Load Google Searching
google.load("search", "1");

function OnLoad() {
    // Create a search control
    var searchControl = new google.search.SearchControl();
    var drawOptions = new google.search.DrawOptions();

    // Settings
    drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);

    // Add in a full set of searchers
    //var localSearch = new google.search.LocalSearch();
    //searchControl.addSearcher(localSearch);
    var siteSearch = new google.search.WebSearch();
    siteSearch.setUserDefinedLabel("Site Search");
    siteSearch.setUserDefinedClassSuffix("siteSearch");
    siteSearch.setSiteRestriction("{{ site.googleSiteSearch }}");
    searchControl.addSearcher(siteSearch);
    searchControl.addSearcher(new google.search.WebSearch());
    searchControl.addSearcher(new google.search.VideoSearch());
    searchControl.addSearcher(new google.search.BlogSearch());

    // Set the Local Search center point
    //localSearch.setCenterPoint("New York, NY");

    // Tell the searcher to draw itself and tell it where to attach
    searchControl.draw(document.getElementById("searchcontrol"), drawOptions);

    // Execute an inital search
    //searchControl.execute("Google");
}

google.setOnLoadCallback(OnLoad);
//]]>
</script>
{% endif %}

<!-- Custom Scripts -->
<script language="javascript" type="text/javascript" src="/js/site.js"> </script>
<script language="Javascript" type="text/javascript">
    $(document).ready(function() {
        site.initCollapsibleDivs();
        //site.collapseAll();
        //$('#links .column-right-title').click();
    });
</script>

</head>
<body>
    <div id="forkme">
        <a href="http://github.com/sukima"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    </div>
    <div id="forkme-text">
        * <a href="http://github.com/sukima">Fork me on GitHub</a> *
    </div>
<div id="wrap">
  <div id="banner">
    <h1>TriTarget.org Development</h1>
  </div>
  <ul id="nav">
    <li id="nav-01"><a href="/index.html" title="Home"><span>home</span></a></li>
    <li id="nav-02"><a href="/about.html" title="About">about</a></li>
    <li id="nav-03"><a href="/projects.html" title="Projects">projects</a></li>
    <li id="nav-04"><a href="/archives.html" title="Archives">archives</a></li>
    <li id="nav-05"><a href="#searchcontrol" title="Search">search</a></li>
  </ul>
  <h2 id="title">
      {% if page.subpageTitle %}
          #{{ page.subpageTitle | downcase }}
      {% elsif page.catagories %}
          $[{{ page.catagories | array_to_sentence_string | downcase }}]
      {% elsif page.catagory %}
          $[{{ page.catagory | downcase }}]
      {% else %}
          @"{{ page.title }}"
      {% endif %}
  </h2>
  <div id="content">
    <div id="column-left">
        {{ content }}
        {% if site.enableGoogleSearch %}<p id="searchcontainer"><div id="searchcontrol">Loading...</div></p>{% endif %}
    </div>
    <!-- end column-left -->
    <div id="column-right">
      <div id="links">
          <div class="column-right-title">{{ site.rightTopicTitlePre }} links {{ site.rightTopicTitlePost }}</div>
          <div class="column-right-content">{% include links.html %}</div>
      </div>
      <div id="twitter">
          {{ site.rightTopicTitlePre }} twitter {{ site.rightTopicTitlePost }}
          <div class="column-right-content">{% include twitter.html %}</div>
      </div>
      <div id="meebo">
          {{ site.rightTopicTitlePre }} meebo {{ site.rightTopicTitlePost }}
          <div class="column-right-content">{% include meebo.html %}</div>
      </div>
    </div>
    <!-- end column-right -->
    <div id="bottom"></div>
  </div>
  <!-- end content -->
</div>
<!-- end wrap -->
<div id="footer">
  <p><a href="/index.html" title="Home"><span>home</span></a> : <a href="/about.html" title="About">about</a> : <a href="/projects.html" title="Projects">projects</a> : <a href="/archives.html" title="Archives">archives</a></p>
  <p><a href="http://www.dreamhost.com/green.cgi?tritarget.org"><img border="0" alt="Green Web Hosting! This site hosted by DreamHost." src="https://secure.newdream.net/green3.gif" height="15" width="80" valign="middle" /></a> : Copyright &copy; 2010 Devin Weaver : Design by <a class="email" href="mailto:jsepulveda@gmail.com">Justin Sepulveda</a></p>
</div>

{% if site.enableDisqusComments %}
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/devtritargetorg/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endif %}

</body>
</html>
