@bracket-spacing: 4px;
@side-padding:    2px;

.custom-link() {
  .transition(all 0.2s);
  position: absolute;
  display:  block;
  top:      0;
  opacity:  0;
}

#content a:not(.normal) {
  text-decoration: none;
  display:         inline-block;
  position:        relative;
  padding-left:    @side-padding;
  padding-right:   @side-padding;

  &:hover {
    text-decoration: underline;
  }

  &:hover::before {
    left: -@bracket-spacing;
    opacity: 1;
  }

  &:hover::after {
    right: -@bracket-spacing;
    opacity: 1;
  }

  &::before {
    .custom-link();
    left:    @bracket-spacing;
    content: "[";
  }

  &::after {
    .custom-link();
    right:   @bracket-spacing;
    content: "]";
  }
}
