.pano {
  width: 60%;
  color: @gray-dark;
  i.fa {
    .border-radius(4px);
    position:         relative;
    padding:          2px 2px 2px 4px;
    right:            30px;
    bottom:           -40px;
    background-color: fade(@gray-light, 80%);
  }
}
