// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@font-face {
  font-family: "League";
  src: url('/font/LeagueGothic.otf');
}

a:visited, #content .blog-index article h1 a:hover { color: #1863A1; }


/* ----- main layout ----- */


html { background: #262C33 url("/images/line-tile.png"); }

body { font-size: 1em; }

body > div { background-image: none; }

body > div > div { background-image: none; }


/* ----- header ----- */


body > header{
  background: none;
  padding: 1.6em 0 1em 0
}

body > header h1{
  font-size: 2.8em;
  padding-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
}

body > header h2{
  font-size: 0.5em;
  letter-spacing: 1px;
  margin-top: -1.4em;
  padding-left: 20px;
}

body > nav {
  padding-top: .15em;
  padding-bottom: .15em;
}

body > nav a{
  font-size: 1em;
  line-height: 1.4em;
}

body > nav form .search{
  padding: .2em .3em;
}


/* ----- Content ----- */


#content .blog-index article h1 {
  font-size: 1.8em;
  font-weight: normal;
}

#content .blog-index article h1, #content .blog-index article h1 a, article header h1, article header h1 a{
  color: #555555 !important;
}

h1 { font-size: 1.8em; }

h1 span{
  font-weight: normal;
  color: #E0841B;
}

article h2, article h3, article header h1{
  font-weight: normal;
}

.blog-index article h1 a:hover{ text-decoration: none; }

article p {
  text-align:justify;
  margin-bottom: 1em;
}

.quote {
  padding: 10px 25px;
  font-style: italic;
}

.quote .cite {
  text-align: right;
  padding-right: 50px;
}

#site-quote {
  padding-right: 40px;
}

img.bottom-img {
  vertical-align: bottom;
}

.favorite { padding-left: 12px; background: url(/images/heart.gif) no-repeat center left; }
.gold { padding-left: 14px; background: url(/images/gold.gif) no-repeat center left; }
.silver { padding-left: 14px; background: url(/images/silver.gif) no-repeat center left; }
.bronze { padding-left: 14px; background: url(/images/bronze.gif) no-repeat center left; }
.email { padding-left: 18px; background: url(/images/mail.gif) no-repeat center left; }

.clearfix { clear: both; }

.col-left {
  float: left;
  width: 50%;
}

.col-right {
  float: right;
  width: 50%;
}

/* ----- Sidebar ----- */


aside.sidebar section h1 { letter-spacing: 0.1em; }

aside.sidebar a { text-decoration: none; }

.toggle-sidebar{display: none;}

ul#gh_repos > li > a{
  display: block;
  font-weight: bold;
  margin-bottom: 0.4em;
}

aside.sidebar{
  -moz-border-radius-topright: 0.4em;
  -webkit-border-radius: 0 0.4em 0 0;
  border-radius: 0 0.4em 0 0;
}


/* ----- Footer ----- */


body > footer{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius:0;
  margin-bottom: 0;
}


/* ----- 404 ----- */


.notfound404 article{
  margin-left: 0 !important;
}


/* ----- Media queries ----- */


@media only screen and (min-width: 550px) {

  body > header h1{
      background: url("/images/TriTarget_Logo-sm.jpg") no-repeat 0 8px;
      padding-left: 65px;
  }

  body > header h2 { padding-left: 65px; }

  body > footer { margin-bottom: 3em; }
}

@media only screen and (min-width: 1040px) {

  body > nav {
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius:0.4em;
    margin-bottom: 2em;
  }

  body > footer{
      -moz-border-radius-bottomleft: 0.4em;
      -moz-border-radius-bottomright: 0.4em;
      -webkit-border-radius: 0 0 0.4em 0.4em;
      border-radius: 0 0 0.4em 0.4em;
  }

  #main{
      -moz-border-radius-topleft: 0.4em;
      -moz-border-radius-topright: 0.4em;
      -webkit-border-radius: 0.4em 0.4em 0 0;
      border-radius: 0.4em 0.4em 0 0;
  }

  #content{
      -moz-border-radius-topleft: 0.4em;
      -webkit-border-radius: 0.4em 0 0 0;
      border-radius: 0.4em 0 0 0;
  }

  #content .blog-index a[rel="full-article"]{
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
  }
}

/* Easter Egg ski game */
/* Z-index of #mask must lower than #boxes .window */  
#mask {  
  position:absolute;  
  z-index:90;  
  background-color:#000;  
  display:none;  
}  
    
#dialog-boxes .window {  
  position:absolute;  
  width:660px;  
  height:400px;  
  overflow: scroll;
  display:none;  
  z-index:99;  
  padding:20px;  
  text-align: left;
}  

/* FancyBox Galleries */
$rad: 6px;
ul.gallery {
  border: thin solid gray;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
  text-align: center;
  padding: 5px;
  li {
    display: inline;
    padding: 5px;
  }
}

/* FancyBox Panoramas */
.pano {
    text-align: center;
    margin: 0 auto;
}

/* Fix footnotes */
sup { vertical-align: super; }
